body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calendar-container {
    width: 80%;
    max-width: 800px;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#prevMonth, #nextMonth {
    font-size: 24px;
    cursor: pointer;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
}

.day-of-week div {
    font-weight: bold;
    padding: 10px;
    background-color: #2d3e50;
    color: white;
}

#calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
}

.day-cell {
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.day-cell.game {
    background-color: #f9f9f9;
}

.day-cell span {
    display: block;
    font-size: 14px;
}

.day-cell .score {
    font-size: 12px;
    color: #333;
}

.day-cell:hover {
    background-color: #f1f1f1;
}

.day-cell .games-list {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 12px;
    color: #333;
}

.day-cell .games-list span {
    display: block;
}
